# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
out/
*.dll
*.exe
*.pdb
*.cache
*.log

# Entity Framework / SQL
*.mdf
*.ldf

# Sistema
*.vsidx
*.db
*.log
*.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
packages/

# Rider / VSCode
.idea/
.vscode/
